@font-face {
  font-family: "InterRegular";
  src: url(fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: "InterBold";
  src: url(fonts/Inter-Bold.ttf);
}

input {
  outline: none;
  border: none;
  font-family: "InterRegular";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #718096;
}

button {
  padding: 0;
  border: none;
  background: none;
}

a {
  text-decoration: none;
  color: black;
}
/* desctop */
@media screen and (max-width: 1280px) {
  /* .container {
  } */

  .nav-items {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-left: 85px;
    margin-right: 85px;
  }

  .nav-item > button {
    margin-left: 30px;
    font-family: "InterRegular";

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }
  .nav-item > img {
    margin-right: 15px;
  }
  .nav-item--1 {
    display: flex;
    align-items: baseline;
  }
  .nav-item--1 > h1 {
    font-family: "InterBold";
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }
  .nav-item--2 {
    display: flex;
    align-items: baseline;
    margin-left: 300px;
  }

  .main-preview-content {
    background-color: #fbfbfb;
    height: 480px;
  }

  .main-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-item--1 {
    display: flex;
    flex-flow: column;
    margin-left: 120px;
    margin-top: 70px;
    margin-bottom: 70px;
  }

  .main-item--1 > img {
    width: 20px;
    height: 20px;
  }

  .main-item--1 > h1 {
    font-family: "InterBold";
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    color: #000000;
  }
  .main-item--1 > p {
    font-family: "InterRegular";
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #4a5568;

    margin-top: 0px;
  }

  /* .coffee-logo {
    position: absolute;
    left: 400px;
    right: 500px;
    top: 500px;
    bottom: 150px;

    width: 70px;
    height: 60px;
  } */

  .main-item--2 > img {
    height: 350px;
    width: 480px;
    margin-top: 70px;
    margin-right: 90px;
    margin-bottom: 70px;
  }
}
/* tablet ----------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 850px) {
  .nav-items {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-left: 85px;
    margin-right: 85px;
    flex-wrap: wrap;
  }

  .nav-item > button {
    margin-right: 30px;
    margin-left: 0px;
  }
  .nav-item--1 {
    display: flex;
    align-items: baseline;
  }
  .nav-item--2 {
    display: flex;
    align-items: baseline;
    margin-left: 50px;
  }

  .main-preview-content {
    background-color: #fbfbfb;
    height: 480px;
  }

  .main-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-item--1 {
    display: flex;
    flex-flow: column;
    margin-left: 120px;
    margin-top: 70px;
    margin-bottom: 70px;
  }

  .main-item--1 > img {
    width: 20px;
    height: 20px;
  }

  .main-item--1 > h1 {
    font-family: "InterBold";
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #000000;
  }
  .main-item--1 > p {
    font-family: "InterRegular";
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #4a5568;

    margin-top: 0px;
  }

  /* .coffee-logo {
    position: absolute;
    left: 400px;
    right: 500px;
    top: 500px;
    bottom: 150px;

    width: 70px;
    height: 60px;
  } */

  .main-item--2 > img {
    height: 350px;
    width: 480px;
    margin-top: 70px;
    margin-right: 90px;
    margin-bottom: 70px;
  }
}
/* smart ----------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 380px) {
  .nav-items {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-left: 85px;
    margin-right: 85px;
    flex-wrap: wrap;
  }

  .nav-item > button {
    margin-right: 30px;
    margin-left: 0px;
    margin-bottom: 10px;
  }
  .nav-item--1 {
    display: flex;
    align-items: baseline;
  }
  .nav-item--2 {
    display: flex;
    align-items: baseline;
    margin-left: 0px;
  }
  .main-preview-content {
    background-color: #fbfbfb;
    height: max-content;
    width: 400px;
    margin-right: 0px;
  }

  .main-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .main-item--1 {
    display: flex;
    flex-flow: column;
    margin-left: 70px;
    margin-top: 70px;
    margin-bottom: 70px;
  }

  .main-item--1 > img {
    width: 20px;
    height: 20px;
  }

  .main-item--1 > h1 {
    font-family: "InterBold";
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #000000;
  }
  .main-item--1 > p {
    font-family: "InterRegular";
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #4a5568;

    margin-top: 0px;
  }

  /* .coffee-logo {
    position: absolute;
    left: 400px;
    right: 500px;
    top: 500px;
    bottom: 150px;

    width: 70px;
    height: 60px;
  } */

  .main-item--2 > img {
    height: 300px;
    width: 350px;
    margin-top: 70px;
    margin-right: 90px;
    margin-bottom: 70px;
    margin-left: 90px;
  }
}

/* -------------------------------------------------------------------------------------details */

.main_container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  width: 980px;
  height: 250px;
  border: 1px solid #e2e2e2;
  box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.25);
  border-radius: 5px;
}

.header_main_container {
  display: flex;
}

.first_wrapper {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 55px;
  margin-right: 70px;
}

.first_wrapper > h1 {
  font-family: "InterBold";

  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: #2d3748;
}

.first_wrapper > p {
  font-family: "InterRegular";
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #718096;
}

.end_first_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.end_first_wrapper > p {
  font-family: "InterRegular";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #718096;
}

.end_first_wrapper > a {
  font-family: "InterBold";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #2d3748;
  text-decoration: none;
}

.second_wrapper > img {
  height: 250px;
  border-radius: 5px;
}

.second-flex-container {
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */

  width: 980px;
  height: 380px;
  /* margin: 33, 33%; */
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}

.box {
  display: flex;
  flex-direction: column;
  width: 300px;
  box-shadow: 0px 4px 4px rgba(192, 189, 189, 0.25);
}

.box > img {
  height: 300px;
  border-radius: 5px;
}

.container_item {
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.container_item > h1 {
  font-family: "InterBold";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3748;
}

.container_item > p {
  font-family: "InterRegular";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #718096;
}

.secondContainer_last_item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.secondContainer_last_item > p {
  font-family: "InterRegular";
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #718096;
}
.secondContainer_last_item > a {
  font-family: "InterBold";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #2d3748;
  text-decoration: none;
}
